.dropdown-container{
    position: relative;
}

#arrow{
  color: var(--bs-gray);
  position:absolute;
  right:12px;
  bottom:7px;
}

.options-container{
    position: absolute;
    margin:0;
    padding:0;
    text-decoration: none;
    width:100%;
    transition: all 0.5s;
    border-radius: 8px;
    overflow:hidden;
    max-height: 0;
    opacity: 0;
}

.options-container.active{
    position: absolute;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
    max-height: 500px;
    opacity: 1;
    background-color: white;
    border: 1px solid #ccc;
}

.option{
    padding: 12px 24px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.option:hover{
    background-color: lightgray;
    transition-duration: 0.2s;
}